body {
    width: 100%;
    height: 100%;
    background: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}



.title {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 6rem;
    padding-top:5%;
    -webkit-box-reflect: below -2.5rem linear-gradient(transparent, rgba(0,0,0,0.1));
    
}

table {
    width: 100%;
    color: #fff;
    padding-top: 5%;
    padding-left: 5%;
}

table .numbers {
    font-size: 5rem;
}
.timer {
    font-size: 3rem;
    padding-top:5%;
    -webkit-box-reflect: below -1.5rem linear-gradient(transparent, rgba(0,0,0,0.1));
}